// -------------------
// About
// -------------------

@media (max-width: @screen-sm-min) {
 .about{
    .education{
        h5{
            font-size: 14px;
            font-weight: bold;
        }
    }
    

 }
}

.about{
    ul{
        font-size: 14px;
    }
}