@color1: #000000;
@color2: #401452;
@color3: #512962;
@color4: #722393;
@color5: #8744a3;
@color6: #b991c9;
@color7: #f2f2f2;
@color8: #ffffff;

.menu{
    background-color: @color4;
    height: 100vh;
    border-left: 10px solid @color2;
    color: #ffffff;
    text-align: center;

    h1{
        font-size: 42px;
    }
    
    h2{
        font-size: 22px;
    }
}


.content{
    position: fixed;
    top: 0;
    overflow: auto;
    height: 100vh;
}